/infra/.terraform
/serverless-backend/.aws-sam
.env
.DS_Store
*.log
*.out
*.zip
/serverless-backend/events
/infra/terraform.tfstate
/infra/terraform.tfstate.backup
/infra/env
internal-notes.md
*.backup